# Exemple de fichier de configuration
# Copier en .env et adapter

ECOLE_NOM=ECOLE [NOM DE L'ETABLISSEMENT]
ECOLE_ADRESSE=Lome, Togo
ECOLE_TELEPHONE=+228 XX XX XX XX
ECOLE_EMAIL=contact@ecole.tg
DEVISE=FCFA
VERSION=v1.0.0
